.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre6 {
    font-style: italic
    }
.chapter-title {
    color: #333;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.main-body {
    display: block
    }
.original-text {
    color: #000;
    display: block;
    margin-top: 1.5em
    }
.summary-box {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
    border-right-color: #ddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 25px
    }
.summary-content {
    background-color: #f6f6f6;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width: 1px;
    color: #444;
    display: block;
    font-style: italic;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px
    }
.translation-content {
    color: #666;
    display: block;
    font-style: italic;
    margin-bottom: 1.5em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

